<div class="x_panel">
  <div class="d-flex justify-content-center bd-highlight mb-3">

    <div class="p-4 bd-highlight card">
      <%= image_tag @parceiro.imagem, style: 'height:90px;width:auto;' %>
      <br>

      <p>

        <strong>Nome:</strong>
        <%= @parceiro.nome %>
      </p>
      <p>

        <strong>Descrição:</strong>
        <%= @parceiro.descricao %>
      </p>
    </div>
  </div>
    <div class="d-flex justify-content-center bd-highlight">
      <div class="bd-highlight">
        <a class="btn btn-danger text-white" href="<%= request.referrer %>" style="float: right;">Voltar</a>
      </div>
    </div>
</div>
