<div class="x_panel">
  <div class="x_title">
    <h2><%= @parceiro.nome %></h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>

  </div>
  <div class="x_content">
    <div class="row">

      <div class="col-md-12">
        <div class="x_panel">
        <%= image_tag @parceiro.img_link, style: 'height:50px;width:auto;' %>
          <br><br>
          <p>
            <strong>Nome:</strong>
            <%= @parceiro.nome %>
          </p>

          <p>
            <strong>Descrição:</strong>
            <%= @parceiro.descricao %>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
