// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome
 *= require nprogress/nprogress
 *= require animate
 *= require malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar
 *= require custom
 */

.separator a {
  color: #4591ad;
}
.separator a:hover {
  background: #e7e7e7;
}

.submit {
  width: 40%;
  margin-left: 30% !important;
  margin-right: 30%;
}