/*
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome
 *= require nprogress/nprogress
 *= require malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar
 *= require custom
 *= require admins_backoffice/eventos
 */

.img-icon-small {
  height: 20px;
  width: auto;
}

.img-icon-middle {
  height: 80px;
  width: auto;
}

.img-icon-large {
  height: 150px;
  width: auto;
}