<style>
  .list-docs {
    padding-left: 25px !important;
    margin: 0px !important;
  }

  .list-docs li {
    list-style-type: square !important;
    display: inline !important;
    padding-right: 20px !important;
    float: left !important;
  }

  .list-docs li:before {
    content: "• ";
  }
</style>
<ul class="list-docs">
    <li><a href="<%= eventos_path %>" >Eventos</a></li>
    <li><a href="<%= parceiros_path %>">Parceiros</a></li>
</ul>
<br>